// --------------------
// Definition of variables
$primary: papayawhip;
$fontColor: rgb(60, 60, 60);
$default: #0668CF;
$hoverBtn: rgb(79, 144, 213);
$font: 'Concert One', cursive;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components

body {
  margin: 0;
  padding: 0;
  font-family: 'Concert One', cursive;
  color: $fontColor;
  height: 100%;
}

nav{
  width: 100%;
  height: 8vh;
  background: $default;
  position: fixed;
  top: 0;
}

.info{
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: $default;
  font-size: 2.4vh;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

button {
  margin: 20px;
  padding: 8px 18px;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid $default;
  font-size: 2vh;
  font-family: $font;
  background: transparent;
  color: $default;
  box-shadow: inset 0px 1px 2px 0 silver;
  
  &:hover{
    cursor: pointer;
    box-shadow: 0px 1px 2px 0 silver;
  }
}

// Slide Button

// .roundedOne {
//   width: 28px;
//   height: 28px;
//   position: relative;
//   margin: 20px auto;
//   background: #fcfff4;
//   background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   border-radius: 50px;
//   box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//   label {
//     width: 20px;
//     height: 20px;
//     cursor: pointer;
//     position: absolute;
//     left: 4px;
//     top: 4px;
//     background: linear-gradient(top, #222 0%, #45484d 100%);
//     border-radius: 50px;
//     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//     &:after {
//       content: '';
//       width: 16px;
//       height: 16px;
//       position: absolute;
//       top: 2px;
//       left: 2px;
//       background: $activeColor;
//       background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
//       opacity: 0;
//       border-radius: 50px;
//       box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//     }
//     &:hover::after {
//       opacity: 0.3;
//     }
//   }
//   input[type=checkbox] {
//     visibility: hidden;
//     &:checked + label:after {
//       opacity: 1;
//     }
//   }    
// }

// --------------------
// Style for App component
.prfl {
  margin: auto;
  text-align: center;
  list-style: none;
  a{
    text-decoration: none;
    color:silver;
  }
}

header{
  padding: 10px;
}


// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    // color: $primary;
  }
}

.fixed{
  margin-top: 8vh;
  top:0;
  box-shadow: 0 2px 10px silver;
}

.scrollFlex {
  display: flex;
  flex-basis: 984px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0;
  scroll-behavior: smooth;
}

@media (max-width: 1008px){
  .scrollFlex {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: auto;
    }
}
// DECK

.deck {
  display: flex;
  margin: auto;
  flex-shrink: 0;
  width: 145px;
  height: 155px;
  border: 1px solid silver;
  border-radius: 12%;
  text-align: center;
  align-content: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,.1), 4px 6px 0 -1px #fff, 6px 7px 6px rgba(0,0,0,.1), 10px 11px 0 -1px #fff, 12px 12px 6px rgba(0,0,0,.1);
  
  &:before {
    // content: "";
    color: gray;
    display: flex;
    // margin: auto;
  }
}

select, input {
  box-sizing: border-box;
  resize: none;
  border: none;
  border-bottom: 2px solid silver;
  width: 90%;
  font-family: $font;
  color: $fontColor;
  font-size: 100%;
  line-height: 2;
  margin-bottom: 3vh;
  align-items: center;
  justify-content: center;

}


.deck1{
  background: linear-gradient(to bottom right, rgba(118, 252, 9, 0.3), rgb(32, 139, 0));
}
.deck2{
  background: linear-gradient(to bottom right, rgba(203, 9, 252, 0.3), rgb(72, 0, 139));
}

#cardContainer {
    display: flex;
    margin: auto;
    align-content: center;
    text-align: center;
    margin: 20px;
    width: 20vh;
    border: 1px solid gray;
    border-radius: 7px;
    height: 30vh;
    display: flex;
    background: white;
    box-shadow: 0px 15px 20px -10px gray;
    
    &:before{
      content: "CARD";
      color: gray;
      display: flex;
      margin: auto;
    }

}

.content{
  margin-top: 12vh;

}

@media only screen and (min-width: 800px) {
  .content {
     flex-basis: 750px;
     margin-top:0;
     margin: 12vh;
     padding: 10vh;
     border-radius: 7px;
     background: white;
     box-shadow: 0px 1px 2px silver;
     position: relative;
     z-index: 3;
   }
}

.circlePic {
  margin: -85px 0 0 -15px; 
}



.picOnDeck {
  width: 36px;
  height: 36px;
  display: flex;
  border: 2px solid papayawhip;
  box-shadow: 0 2px 3px 0 silver;
  border-radius: 50px;
  margin-top: -80px;
  margin-left: -14px;
  object-fit: cover;
}

.deckHome {
  margin: 2vh;
  padding: 5px;
  display: inline-grid;
}


.flexWrap{
  display: flex;
  flex-wrap: wrap;
}


.flexRow{
  display: flex;
  flex-direction: row;
}

// .flexShadow{
//   box-shadow: 0 3px 3px 0 silver;
// }

.flexBasic {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin: 5vh;
}

.navIcon {
  flex: 1;
  img{
    width: 7vh;
  }
}

nav{
  img:hover{
    width: 7.4vh;
  }
  nav:after{
    content:"";
    border-bottom: 2px solid white;
  }
}

nav {
  z-index: 4;
}

.navbar2 {
  width: 100%;
  height: 28vh;
  background:$default;
  position: fixed;
  z-index: 1;
  top: 0;
}

@media only screen and (max-width: 800px) {
  .navbar2 {
     display: none;
   }
}

.picProfile {
  border-radius: 12px;

}

.flex1{
  flex:1;
}

.iconCategories {
  margin: 20px;
  text-align: left;

}

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 20vh;
  margin: 10vh 0 5px 0;
  align-items: center;
  justify-content: center;
}


// OPTION MENU -- just a test

// .custom-select-wrapper {
//   position: relative;
//   display: inline-block;
//   user-select: none;
// }
//   .custom-select-wrapper select {
//     display: none;
//   }
//   .custom-select {
//     position: relative;
//     display: inline-block;
//   }
//     .custom-select-trigger {
//       position: relative;
//       display: block;
//       width: 130px;
//       padding: 0 84px 0 22px;
//       font-size: 22px;
//       font-weight: 300;
//       color: #fff;
//       line-height: 60px;
//       background: #5c9cd8;
//       border-radius: 4px;
//       cursor: pointer;
//     }
//       .custom-select-trigger:after {
//         position: absolute;
//         display: block;
//         content: '';
//         width: 10px; height: 10px;
//         top: 50%; right: 25px;
//         margin-top: -3px;
//         border-bottom: 1px solid #fff;
//         border-right: 1px solid #fff;
//         transform: rotate(45deg) translateY(-50%);
//         transition: all .4s ease-in-out;
//         transform-origin: 50% 0;
//       }
//       .custom-select.opened .custom-select-trigger:after {
//         margin-top: 3px;
//         transform: rotate(-135deg) translateY(-50%);
//       }
//   .custom-options {
//     position: absolute;
//     display: block;
//     top: 100%; left: 0; right: 0;
//     min-width: 100%;
//     margin: 15px 0;
//     border: 1px solid #b5b5b5;
//     border-radius: 4px;
//     box-sizing: border-box;
//     box-shadow: 0 2px 1px rgba(0,0,0,.07);
//     background: #fff;
//     transition: all .4s ease-in-out;
    
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transform: translateY(-15px);
//   }
//   .custom-select.opened .custom-options {
//     opacity: 1;
//     visibility: visible;
//     pointer-events: all;
//     transform: translateY(0);
//   }
//     .custom-options:before {
//       position: absolute;
//       display: block;
//       content: '';
//       bottom: 100%; right: 25px;
//       width: 7px; height: 7px;
//       margin-bottom: -4px;
//       border-top: 1px solid #b5b5b5;
//       border-left: 1px solid #b5b5b5;
//       background: #fff;
//       transform: rotate(45deg);
//       transition: all .4s ease-in-out;
//     }
//     .option-hover:before {
//       background: #f9f9f9;
//     }
//     .custom-option {
//       position: relative;
//       display: block;
//       padding: 0 22px;
//       border-bottom: 1px solid #b5b5b5;
//       font-size: 18px;
//       font-weight: 600;
//       color: #b5b5b5;
//       line-height: 47px;
//       cursor: pointer;
//       transition: all .4s ease-in-out;
//     }
//     .custom-option:first-of-type {
//       border-radius: 4px 4px 0 0;
//     }
//     .custom-option:last-of-type {
//       border-bottom: 0;
//       border-radius: 0 0 4px 4px;
//     }
//     .custom-option:hover,
//     .custom-option.selection {
//       background: #f9f9f9;
//     }