body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

nav {
  width: 100%;
  height: 8vh;
  background: darkcyan;
  position: fixed;
  top: 0; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: gray; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  margin: auto;
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: papayawhip;
    padding: 20px;
    color: gray; }
    .App .App-header a {
      color: gray;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a:hover {
      color: black; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home p {
  font-size: 1.2em; }

.Secret .result {
  font-size: 1.2em;
  color: papayawhip; }

.fixed {
  margin-top: 8vh;
  top: 0; }

.scrollFlex {
  display: flex;
  flex-basis: 984px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0;
  scroll-behavior: smooth; }

@media (max-width: 1008px) {
  .scrollFlex {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto; } }

.deck {
  display: flex;
  margin: auto;
  flex-shrink: 0;
  width: 20vh;
  height: 30vh;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: center;
  align-content: center;
  background: linear-gradient(to bottom right, rgba(9, 252, 252, 0.3), darkcyan);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 4px 6px 0 -1px #fff, 6px 7px 6px rgba(0, 0, 0, 0.1), 10px 11px 0 -1px #fff, 12px 12px 6px rgba(0, 0, 0, 0.1); }
  .deck:before {
    color: gray;
    display: flex;
    margin: auto; }

.deck1 {
  background: linear-gradient(to bottom right, rgba(118, 252, 9, 0.3), #208b00); }

.deck2 {
  background: linear-gradient(to bottom right, rgba(203, 9, 252, 0.3), #48008b); }

#cardContainer {
  display: flex;
  margin: auto;
  align-content: center;
  text-align: center;
  margin: 20px;
  width: 20vh;
  border: 1px solid gray;
  border-radius: 7px;
  height: 30vh;
  display: flex;
  background: white;
  box-shadow: 0px 15px 20px -10px gray; }
  #cardContainer:before {
    content: "CARD";
    color: gray;
    display: flex;
    margin: auto; }

.deckHome {
  margin: 2vh; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flexRow {
  display: flex;
  flex-direction: row; }

.navIcon {
  flex: 1; }
  .navIcon img {
    width: 7vh; }

.flex1 {
  flex: 1; }

.iconCategories {
  margin: 20px;
  text-align: left; }
